<nav class="navbar navbar-expand navbar-light" style=" background-color: #2f2fa1 !important;">
    <div class="trade">
        <img class="image" src="assets/stock.jpg">
    </div>
    <div class="container">
        <div class="row">
            <ul class="nav">
                <li class="nav-label">
                    <svg width="16"
                        style="cursor:pointer;margin-right:6px;margin-top:1px;vertical-align:top;fill:#fff;stroke:#fff;stroke-width:0;"
                        height="16" viewBox="0 0 32 32" data-icon="home" data-reactid="8">
                        <path d="M16.153 3.224L0 16.962h4.314v11.814h9.87v-8.003h3.934v8.003h9.84V16.962H32"
                            data-reactid="9"></path>
                    </svg>
                    <span>Home</span>
                </li>
                <li class="nav-label" type="button">
                    <span>Mail</span>
                </li>
                <li class="nav-label" type="button" routerLinkActive="active" routerLink="/news">
                    <span>News</span>
                </li>
                <li class="nav-label" type="button">
                    <span>Finance</span>
                </li>
                <li class="nav-label" type="button">
                    <span>Sports</span>
                </li>
                <li class="nav-label" type="button">
                    <span>Entertainement</span>
                </li>
                <li class="nav-label" type="button">
                    <span>Food</span>
                </li>
                <li class="nav-label" type="button">
                    <span>Blog</span>
                </li>
            </ul>
        </div>
    </div>
</nav>