<ng-container>
    <div class="container">
        <form>
            <div class="row">
                <h3>LOGIN</h3>
            </div>
            <div class="row">
                <label for="email">Email</label>
                <input type="email" name="email" autocomplete="off" placeholder="email@example.com">
            </div>
            <div class="row">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Login</button>
            <p type="button" (click)="signup()">New User ?</p>
        </form>
    </div>
    <div class="container">
        
    </div>
</ng-container>