<section class="blog_about_banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about_box">
                    <h1>A frequently updated web page used for personal commentary or business content</h1>
                    <p>An informational website published on the World Wide Web consisting of discrete, often informal
                        diary-style text entries (posts).</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="blog_img">
                <img src="assets/blogss.webp">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my_auto">
            <div class="about-blog">
                <h2>About Blogs</h2>
                <p>Blog, in full Web log or Weblog, online journal where an individual, group, or corporation presents a
                    record of activities, thoughts, or beliefs. Some blogs operate mainly as news filters, collecting
                    various online sources and adding short comments and Internet links.</p>
            </div>
        </div>
    </div>
</div>