<div class="all" style="background-image: url('assets/globe.jpg'); z-index: 50;">

    <div class="container">
        <div class="row">
            <div class="email">
                <input placeholder="Enter Your Email Address">
                <h2 type="button"><span>Let's do Blogs</span></h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="content">
                <p> <a>Blog</a>, in full Web log or Weblog, online journal where an individual, group, or corporation
                    presents a
                    record of activities, thoughts, or beliefs. Some blogs operate mainly as news filters, collecting
                    various online sources and adding short comments and Internet links. <a
                        style="color: yellow; background-color: #1a7474; border-radius: 20px; font-weight: 800; font-size: 30px;"
                        type="button" routerLinkActive="active" routerLink="/login">Login ?</a></p>
            </div>
        </div>
    </div>
</div>