<div class="container">
    <div class="row">
        <h2 class="newsheading">Financial Statistics </h2>
        <div class="row">
            <input type="file">
        </div>
    </div>
</div>
<nav>
    <ul>
        <li><a href="#" class="active">Google</a><img src="https://img.icons8.com/color/48/null/google-logo.png"/></li>
        <li><a href="#">Apple</a><img src="https://img.icons8.com/fluency/48/null/mac-os.png"/></li>
        <li><a href="#">Samsung</a><img src="https://img.icons8.com/color/48/null/samsung.png"/></li>
        <li><a href="#">Meta</a><img src="https://img.icons8.com/fluency/48/null/meta.png"/></li>
        <li><a href="#">More</a><img src="https://img.icons8.com/nolan/64/circled-chevron-down.png"/></li>
    </ul>
</nav>
<!-- <div class="container">
    <div class="row">
        <button class="btn btn-primary">Buy Now</button>
        <button class="btn btn-danger">Subscribe</button>
    </div>
</div> -->
<a href="https://youtu.be/bRzhXfbaXng" target="_blank" class="link">Watch on youtube <i class="fab fa-youtube"></i></a>


<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="overflow-auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Company</th>
                        <th scope="col">Open Stock</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">Adj Close</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="histogram">

            <div id="chart-line"></div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div id="chart-column"></div>
        </div>
    </div>
</div>