.card{
    border-radius: 20px;
    width: 1200px;
    margin-left: 220px;
    background-color: #2f2fa1;
    color: aliceblue;

}


.table thead th{
    color: aliceblue;
}

.table tbody td{
    color: aliceblue;
}

.inputbox{
    width: auto;
    height: 40px;
    border-radius: 5px;
    border-color: #2f2fa1;
}

.conatiner{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.filter{
    margin-left: 220px;
}